 <h1>Order details</h1>
            <div class="catalog">
                <div class="column">
                    <img src="{{order.product.imageUrl}}">
                </div>
                <div class="column">
                    <h2>{{order.product.category}} doner, {{order.product.size}}cm</h2>
                    <h3>From {{order.getDate}}</h3>
                    <div class="toppings">
                        {{#each order.toppings}}
                        {{this}}<br>
                        {{else}}
                        {{/each}}
                    </div>
                </div>
                <div class="status">
                    <div class="status-block">
                        <span class="progress-right"></span>
                        {{#if pStat.Painding}}
                         <span class="checkpoint current"></span><br>
                         {{else}}
                         <span class="checkpoint"></span><br>
                        {{/if}}
                        Pending
                    </div>
                     <div class="status-block">
                        <span class="progress-left"></span>
                        <span class="progress-right"></span>
                         {{#if pStat.inProgress}}
                         <span class="checkpoint current"></span><br>
                         {{else}}
                         <span class="checkpoint"></span><br>
                        {{/if}}
                        
                        In progress
                    </div>
                    <div class="status-block">
                        <span class="progress-left"></span>
                        <span class="progress-right"></span>
                         {{#if pStat.inTransit}}
                        <span class="checkpoint current"></span><br>
                         {{else}}
                         <span class="checkpoint"></span><br>
                        {{/if}}
                        In transit
                    </div>
                    <div class="status-block">
                        <span class="progress-left"></span>
                         {{#if pStat.Delivered}}
                        <span class="checkpoint current"></span><br>
                         {{else}}
                         <span class="checkpoint"></span><br>
                        {{/if}}
                        Delivered
                    </div> 
                </div>
            </div>